$font-light: #FFF;
$font-dark: #1B1A17;

$background-light: #F0E3CA;
$background-dark: #111;

$contrast-light: #f98e20;
$contrast-light-hover: #c96600;

$contrast-dark: #dd5644;
$contrast-dark-hover: #9b2f20;